<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/table.css">
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/menu.css">
</head>
<body>
    <div class="main">
        <% if(menuscreen) { %>
            <a href="/">
                <button class="goBack">
                    <img src="/styles/menu.png" alt="goBack" width="30">
                </button>
            </a>
        <% } %>
        <div class="header">
            <h1><%= subject %></h1>
        </div>
        <div>
            <p class="subheader"><%= info %></p>
        </div>